svg {
  width: 100%;
  height: 100%;
}

svg a {
  cursor: pointer;
}

.mapplic-element a {
  color: #333;
  text-decoration: none !important;
}

.mapplic-element input,
.mapplic-element button {
  outline: none;
}

.mapplic-element * { -webkit-tap-highlight-color: rgba(0,0,0,0); }

.mapplic-element {
  background-color: transparent;
  font-size: 0;
  overflow: hidden;
  position: relative;
  margin: 30px;
  /*height:703px !important;*/
}

/* Fullscreen */
:-webkit-full-screen {
  width: 100%;
  height: 100% !important;
}

:-webkit-full-screen .mapplic-fullscreen-button {
  background-image: url('images/fullscreen-exit.png');
}

/* Preloader */
.mapplic-element.mapplic-loading {
  background: #fff url('images/loader.gif') no-repeat center;
}

.mapplic-element > * {
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.mapplic-element.mapplic-loading > * {
  opacity: 0;
}

/* Main elements */
.mapplic-container {
  background-color: #fff;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100% !important;
}

:-webkit-full-screen .mapplic-container {
  width: 80%;
}

.mapplic-map {
  position: absolute;
  left: 0;
  top: 0;
  width:100%;
}

/* Map layer */
.mapplic-layer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.mapplic-layer img {
  width: 100%;
  max-width: 100%;
}

.mapplic-map-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mapplic-locations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mapplic-pin {
  background-image: url('images/pin-red.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  margin-top: -25px;
  margin-left: -10px;
  position: absolute;
  display: none;
}

.mapplic-pin.mapplic-animate {
  -webkit-animation: bounce-in 0.4s forwards;
  animation: bounce-in 0.4s forwards;
}

@-webkit-keyframes bounce-in {
  0%   {margin-top: -120px; opacity: 0;}
  33%  {margin-top: -25px; opacity: 1;}
  66%  {margin-top: -30px;}
  100% {margin-top: -25px; opacity: 1;}
}

.mapplic-pin.orange { background-image: url('images/pin-orange.png'); }
.mapplic-pin.green { background-image: url('images/pin-green.png'); }
.mapplic-pin.blue { background-image: url('images/pin-blue.png'); }
.mapplic-pin.purple { background-image: url('images/pin-purple.png'); }

/* Minimap */
.mapplic-minimap {
  border: 1px solid rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 140px;
  margin: 10px;
  bottom: 0;
  right: 0;
  overflow: hidden;
  display:none;
}

.mapplic-minimap img {
  width: 100%;
}

.mapplic-minimap-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.mapplic-minimap .mapplic-minimap-active {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  -webkit-transition: clip 0.1s;
  -moz-transition: clip 0.1s;
  transition: clip 0.1s;
}

.mapplic-minimap-background {
  -webkit-filter: blur(2px);
}

/* Clear Button */
.mapplic-clear-button {
  background-color: #fff;
  /*Mak background-image: url('images/target.png');*/
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.mapplic-locations {display:none;}
.mapplic-clear-button {
  background-color: rgba(250,250,250,.85);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 0;
  margin: 0;
  width: 72.75px;
  height: 55px;
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  text-indent: -9999em;
}
.mapplic-zoom-in {
  background-color: rgba(250,250,250,0.8);
  border: none;
  border-radius: 0;
  margin: 0;
  width: 72.75px;
  height: 55px;
  position: absolute;
  top: 15px;
  left: 91px;
  color: #5f5f5f;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
  text-indent: -9999em;
}
.mapplic-zoom-out {
  background-color: rgba(250,250,250,0.8);
  border: none;
  margin: 0;
  width: 72.75px;
  height: 55px;
  position: absolute;
  top: 15px;
  left: 167px;
  cursor: pointer;
  text-indent: -9999em;
}
.mapplic-show-sidebar{
  background-color: rgba(250,250,250,0.9);
  border: none;
  margin: 0;
  width: 72.75px;
  height: 55px;
  position: absolute;
  top: 15px;
  left: 93px;
  color: #fff;
  cursor:pointer;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  text-indent: -9999em;
}
.mapplic-show-sidebar.active {
  background: rgba(250,250,250,1);
}
.mapplic-zoom-out:after,
.mapplic-zoom-in:after,
.mapplic-clear-button:after,
.mapplic-show-sidebar:after {
  font-family: 'Raleway', Helvetica, sans-serif;
    font-weight: 700;
  position: absolute;
  width:100%;
  height:100%;
  font-size:10px;
  text-transform: uppercase;
  color:#777;
  text-align: center;
  top:0;
  left:0;
  line-height:55px;
  text-indent: 0;
  letter-spacing: 2px;
}
.mapplic-zoom-in:after {
  content:"in";
}
.mapplic-zoom-out:after {
  content:"out";
}
.mapplic-clear-button:after {
  content:"reset";
}
.mapplic-show-sidebar:after {
  content: "menu";
}
/*.mapplic-show-sidebar.active:after {
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  left:-1px;
}*/
.mapplic-zoom-in:hover,
.mapplic-zoom-out:hover,
.mapplic-clear-button:hover,
.mapplic-show-sidebar:hover {
  background-color: #fff;
  background-color: rgba(250,250,250,0.95);
}
@media screen and (max-width:600px){
  .mapplic-zoom-in,
  .mapplic-zoom-out,
  .mapplic-clear-button,
  .mapplic-show-sidebar {
    width:24.5%;
    margin:0 .25%;
    height:45px;
  }
  .mapplic-zoom-out:after,
  .mapplic-zoom-in:after,
  .mapplic-clear-button:after,
  .mapplic-show-sidebar:after {
    line-height: 45px;
  }
  .mapplic-clear-button {
    top: 5px;
    left:.5%;
  }
  .mapplic-zoom-in {
    top: 5px;
    left:25.25%;
  }
  .mapplic-zoom-out {
    top: 5px;
    left:50%;
  }
  .mapplic-show-sidebar {
    top: 5px;
    left:74.75%;
  }
}
/* Fullscreen Button */
.mapplic-fullscreen-button {
  background-color: #fff;
  background-image: url('images/fullscreen.png');
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
}

/* Levels */
.mapplic-levels {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  overflow: hidden;
  display:none;
}

.mapplic-levels > * {
  display: block;
  width: 100%;
}

.mapplic-levels-select {
  border: none;
  margin: 0;
  padding: 6px 2px;
  font-size: 12px;
  outline: none;
}

.mapplic-levels a {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  height: 20px;
  width: 100%;
}

.mapplic-levels .mapplic-levels-up {
  background-image: url('images/arrow-up.png');
  border-bottom: 1px solid #eee;
}

.mapplic-levels .mapplic-levels-down {
  background-image: url('images/arrow-down.png');
  border-top: 1px solid #eee;
}

.mapplic-levels a.disabled {
  background-color: #eee;
  cursor: default;
}

/* Sidebar */
.mapplic-sidebar {
  background-color: #fff;
  background-color:rgba(250,250,250,0.92);
  width: 301px;
  max-height: 87.5%;
  top:73px;
  left:15px;
  position: absolute;
  overflow: scroll;
  display: none;
}

:-webkit-full-screen .mapplic-sidebar {
  width: 20%;
}

/* Search */
.mapplic-search-form {
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  padding: 14px 12px;
  margin: 0;
  width: 100%;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mapplic-search-input {
  background-image: url('images/viewer.png');
  background-repeat: no-repeat;
  background-position: 8px;
  border: 2px solid #eee;
  border-radius: 2px;
  font-size: 14px;
  font-family: inherit;
  line-height: 20px;
  height: 38px;
  margin: 0;
  padding: 8px 32px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: border-color 0.1s;
  -moz-transition: border-color 0.1s;
  transition: border-color 0.1s;
}

.mapplic-search-input:focus {
  border-color: #6ed8dd;
}

.mapplic-search-clear {
  background-image: url('images/cross.png');
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  border: none;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 22px;
  margin: 10px 0;
  width: 16px;
  height: 16px;
}

.mapplic-not-found {
  color: #bbb;
  display: none;
  font-size: 13px;
  padding: 0 30px;
  position: absolute;
  text-align: center;
  top: 100px;
}

/* List */
.mapplic-list-container {
  height: 100%;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position:relative;
}

.mapplic-list {
  list-style: none;
  padding: 0 0 25px;
  margin: 0;
  overflow-y: auto;
  height: 100%;
}

.mapplic-list-container ol, .mapplic-list-container ul {
  list-style: none;
  padding: 0 0 20px;
  margin: 0;
}
.mapplic-list-container > ol {
  padding-bottom: 0;
}

.mapplic-list-container ol ol {
  width:100%;
}
.mapplic-list-container ol ol li {
  position: relative;
  width:100%;
  float:none;
  border-right:none;
}
.mapplic-list-category ol ul a {
  text-indent: 20px;
  text-transform: none;
  padding: 0;
  border: none;
  margin: 0;
  line-height: 2em;
}
.mapplic-list-container ol ul li {
  border-bottom: none;
}
.mapplic-list-category > a {
  background-color: transparent !important;
  color: #565656;
  display: block;
  padding: 12px 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  font:16px/32px 'Raleway', sans-serif;
  text-transform:uppercase;
  letter-spacing:2px;
  position:relative;
}

.mapplic-list-category > a img {
  float: left;
  margin-right: 10px;
}

.mapplic-list-category > a span {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  float: right;
  font-size: 12px;
  line-height: 10px;
  padding: 4px;
  margin: 4px 0 4px 4px;
  color:#fff;
  opacity:0;
}
.mapplic-list-category > a:before {
  content: "^";
  font-family: 'Raleway', Helvetica, sans-serif;
  color:#565656;
  position:absolute;
  right:10px;
  top:10px;
  font-weight: lighter;
  font-size:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  transition:all .3s ease-in-out;
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  -ms-transition:all .3s ease-in-out;
}
.mapplic-list-category > a.active:before  {
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  -ms-transform:rotate(0deg);
  transform:rotate(0deg);
}
.mapplic-list-location a {
  display: block;
  font: 8px/18px 'Raleway', Helvetica,sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
  text-transform:uppercase;
  padding: 4px 25px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}
.mapplic-list-category ol ul {
  background:#efefef;
  display:none;
}
.mapplic-list-category ol ul li {
  background:transparent;
}
.mapplic-list-category ol ul a {
  /*background:#efefef;*/
  text-indent:10px;
}
.mapplic-list-category ol ul a:hover {
  background:#ccc;
}
.mapplic-list-category ol ul ul a {
  background:#ddd;
  text-indent:20px;
}
.mapplic-list-category ol ul ul a:hover {
  background:#aaa;
}
.mapplic-list-location a:hover {
  background-color: #fff;
  border-color: inherit;
}
.mapplic-list-location a:active {
  background-color: #ddd;
}

.mapplic-list-location img {
  float: left;
  margin-right: 10px;
}

.mapplic-list-location h4 {
  color: #444;
  font-size: 11px;
  margin: 4px 0 8px 0;
}
.mapplic-list-location a h4 span:after {
  content: "^";
  font-family:'Raleway', Helvetica, sans-serif;
  font-size: 8px;
  font-weight: normal;
  position: absolute;
  right:10px;
  transition:all .3s ease-in-out;
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  -ms-transition:all .3s ease-in-out;
}
.mapplic-list-location a.active h4 span:after,
.mapplic-list-location a.downarrow h4 span:after {
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
.mapplic-list-location .level2 {
  padding:10px 0;
}
.mapplic-list-location .level2 a {
  font:13px/14px 'Raleway', Helvetica, sans-serif;
  padding:3px 20px;
  letter-spacing:.02em;
}
.scrolltomap.active, .scrolltomap.active:hover {
  background:#5f5f5f;
}
.scrolltomap.active h4 {
  color:#fff;
}

/* Tooltip */
.mapplic-tooltip {
  background-color: #fff;
  display: none;
  margin-left: -160px;
  margin-top: -120px;
  padding: 10px 0;
  position: absolute;
  width: 320px;
  height: auto !important;
}

.mapplic-tooltip-title {
  color: #444;
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 16px 0;
}

.mapplic-hovertip {
  width: 150px;
  pointer-events: none;
}

.mapplic-hovertip .mapplic-tooltip-title {
  margin: 0 auto;
  text-align: center;
  padding:.5em;
  font-size:11px;
  width:100%;
}

.mapplic-tooltip-content {
  /*max-height: 160px;*/
  overflow-y: auto;
}

.mapplic-tooltip-description,
.mapplic-tooltip p {
  color: #999;
  font:13px/20px 'Raleway', sans-serif;
  letter-spacing:1px;
  margin: 0;
  padding: 0 20px;
}
.mapplic-tooltip h4 {
  color: #444;
  font: 15px/20px 'Raleway', sans-serif;
    font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 4px auto 8px;
  width: 80%;
}
.mapplic-popup-link {
  font:13px/18px 'Raleway', Helvetica, sans-serif;
    font-weight: 700;
  text-transform:uppercase;
  letter-spacing:1px;
  padding:8px 15px;
  border:solid 2.5px #565656;
  text-align:center;
  color:#565656;
  display:block;
  margin:10px 20px;
  width:40%;
}

.mapplic-popup-link:hover {
  background-color: #aaa;
}

.mapplic-tooltip img {
  max-width: 100%;
}

.mapplic-tooltip-triangle {
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 8px 7px 0 7px;
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: -8px;
  margin-left: -7px;
  -webkit-transition: left 0.1s;
  -moz-transition: left 0.1s;
  transition: left 0.1s;
}

.mapplic-tooltip-down .mapplic-tooltip-triangle {
  border-width: 0 7px 8px 7px;
  border-color: transparent transparent #fff transparent;
  top: 0;
  margin-top: -8px;
}

.mapplic-tooltip-close {
  background-color: #eee;
  background-image: url(//melrose.sanchezstudio.co/mapplic/images/cross.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  float: right;
  margin: 0 4px 0 0;
  width: 10px;
  height: 10px;
}
.topmeft {
  margin:70px 0 0 400px!important;
}
.topmiddle {
  margin:70px 0 0 -105px!important;
}
.topright {
  margin:70px 0 0 -400px!important;
}
.lefttop {
  margin:30px 0 0 400px!important;
}
.leftmiddle {
  margin:-100px 0 0 400px!important;
}
.leftbottom {
  margin:-105px 0 0 400px!important;
}
.bottomleft {
  margin:-200px 0 0 400px!important;
}
.bottommiddle {
  margin:-200px 0 0 0!important;
}
.bottomright {
  margin:-200px 0 0 -400px!important;
}
.righttop {
  margin:30px 0 0 -400px!important;
}
.rightmiddle {
  margin:0px 0 0 -400px!important;
}
.rightbottom {
  margin:-105px 0 0 -400px!important;
}
.mapplic-tooltip-triangle {
  background-image: url(//melrose.sanchezstudio.co/mapplic/images/tooltip-triangle.png);
  width: 14px;
  height: 6px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: -6px;
  margin-left: -7px;
}
.righttop .mapplic-tooltip-triangle, .rightmiddle .mapplic-tooltip-triangle, .rightbottom .mapplic-tooltip-triangle {
  background-image: url(//melrose.sanchezstudio.co/mapplic/images/tooltip-triangle.png);
  width: 14px;
  height: 6px;
  position: absolute;
  bottom: 50%;
  left: 100%;
  margin-bottom: 0;
  margin-left: -4px;
  -webkit-transform: rotate(-90deg);
}
.lefttop .mapplic-tooltip-triangle, .leftmiddle .mapplic-tooltip-triangle, .leftbottom .mapplic-tooltip-triangle {
  background-image: url(//melrose.sanchezstudio.co/mapplic/images/tooltip-triangle.png);
  width: 14px;
  height: 6px;
  position: absolute;
  bottom: 50%;
  right: 100%;
  margin-bottom: 0;
  margin-right: -4px;
  -webkit-transform: rotate(90deg);
}
.topleft .mapplic-tooltip-triangle, .topmiddle .mapplic-tooltip-triangle, .topright .mapplic-tooltip-triangle {
  background-image: url(//melrose.sanchezstudio.co/mapplic/images/tooltip-triangle.png);
  width: 14px;
  height: 6px;
  position: absolute;
  top: 0;
  right: 50%;
  margin-bottom: 0;
  margin-top: -4px;
  -webkit-transform: rotate(180deg);
}

/* Coordinates */
.mapplic-coordinates {
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  position: absolute;
  margin: 10px;
  margin-left: -80px;
  padding: 4px 6px;
  font-size: 14px;
  top: 0;
  left: 50%;
  pointer-events: none;
}

.mapplic-clickable {
  cursor: pointer;
}
g#landmarks-daufuskie .mapplic-clickable path,
g#landmarks-daufuskie .mapplic-clickable polygon,
g#landmarks-daufuskie .mapplic-clickable rect {
  -webkit-transition: 0.4s ease;
          transition: 0.4s ease;
}
g#landmarks-daufuskie .mapplic-clickable:hover path,
g#landmarks-daufuskie .mapplic-clickable:hover polygon,
g#landmarks-daufuskie .mapplic-clickable:hover rect,
g#landmarks-daufuskie .mapplic-active path,
g#landmarks-daufuskie .mapplic-active polygon,
g#landmarks-daufuskie .mapplic-active rect {
  fill: green;
  stroke: white;
}



g:not(#landmarks-daufuskie) .mapplic-clickable {
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.4s ease;
          transition: 0.4s ease;
}

g:not(#landmarks-daufuskie) .mapplic-clickable:hover,
g:not(#landmarks-daufuskie) .mapplic-active {
  opacity: 0.6;
}
@media screen and (max-width:1600px) {
  .mapplic-element {
    /*height:703px !important;*/
  }
}
/* Responsive layout */
@media (max-width:600px) {
  .mapplic-list-container ol, .mapplic-list-container ul {
    margin:-1px 0;
    padding:0;
  }
  .mapplic-list-container li {
    border-right:none;
    border-bottom:solid 1px #ddd;
    width:100%;
    float:left;
  }
  /* Minimap */
  .mapplic-minimap {
    display: none;
  }
  /* Levels */
  .mapplic-levels {
    bottom: 0;
    right: 0;
    width: 100%;
    z-index:10;
  }
  .mapplic-sidebar {
    width: 98.5%;
    height: 86%;
    top: 53px;
    left: 0.75%;
    display: none;
  }
  .mapplic-element {
    margin:12px;
    height: 680px !important;
  }
  .mapplic-container {
    height:450px!important;
  }
  .mapplic-list::after {
    display:none;
  }
  .mapplic-list::before {
    display:none;
  }
  .mapplic-tooltip {
    margin-left: -105px;
    margin-top: 0;
    padding: 10px 0;
    position: absolute;
    width: 170px;
    height:auto !important;
  }
  .mapplic-tooltip .mapplic-tooltip-description {
    display: none;
  }
  .mapplic-tooltip h4 {
    font: 12px/15px 'Raleway', sans-serif;
        font-weight: 700;
    text-align: center;
  }
  .mapplic-tooltip a:not(.mapplic-tooltip-close) {
    font: 12px/14px 'Raleway', Helvetica, sans-serif;
        font-weight: 700;
    padding: 4px 10px;
    border: solid 1.5px #565656;
    width: 37%;
    margin: 0 auto;
  }
  .topmeft {
    margin:40px 0 0 210px!important;
  }
  .topmiddle {
    margin:40px 0 0 -85px!important;
  }
  .topright {
    margin:40px 0 0 -210px!important;
  }
  .lefttop {
    margin:30px 0 0 210px!important;
  }
  .leftmiddle {
    margin:-100px 0 0 210px!important;
  }
  .leftbottom {
    margin:-85px 0 0 210px!important;
  }
  .bottomleft {
    margin:-200px 0 0 210px!important;
  }
  .bottommiddle {
    margin:-200px 0 0 0!important;
  }
  .bottomright {
    margin:-200px 0 0 -210px!important;
  }
  .righttop {
    margin:30px 0 0 -210px!important;
  }
  .rightmiddle {
    margin:0px 0 0 -210px!important;
  }
  .rightbottom {
    margin:-85px 0 0 -210px!important;
  }
}
/*@media all and (max-width: 479px) {
  .mapplic-container,
  .mapplic-sidebar {
    width: 100%;
  }

  .mapplic-container {
    height: 400px;
  }

  .mapplic-tooltip {
    max-width: 160px;
  }

  .mapplic-minimap {
    width: 80px;
  }

  .mapplic-element {
    height: auto !important;
  }

  .mapplic-fullscreen-button {
    display: none;
  }
}
*/

.mapplic-list-location a[href="#custom-homes"],
.mapplic-list-location a[href^="#future-development"],
.mapplic-list-location a[href^="#las-verandas"] {
  display: none;
}
